<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../static/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/872673ab28.js" crossorigin="anonymous"></script>
    <script src="https://ddkb.in/VGhpcyBwcm9qZWN0IGlzIGRldmVsb3BlZCBhbmQgb3duZWQgYnkgRGV2YW5hbmQgYW5kIGhpcyB0ZWFtIG1lbWJlcnMgRGhpbmVzaCBLb21lc2ggVmVsdXJ1IEJhbGFqaQ=="></script>
    <link rel="shortcut icon" href="../static/img/favicon_1.ico" type="image/x-icon">
    <title>About Us</title>
    
</head>
<body>
    <!-- Navbar -->
    <div class="nav_head">
        <div class="nav_title"><h1>Realtime Sign Language Translator</h1></div>
        <div class="icons">
            <ul class="header-list">
                <li class="header-list-elements"><a class="link-tag" id="profile_page" href='./profile'>Profile</a></li>
                <li class="header-list-elements"><a class="link-tag" href="/about">About</a></li>
                <li class="header-list-elements"><a class="link-tag" href="/home">Home</a></li>
                <li class="header-list-elements"><a class="link-tag" href="https://github.com/Deva0813/Realtime-Communication-System" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            </ul>        
        </div>
    </div>

    <!-- About Us Title-->
    <h1 class="title">Our Team</h1>

    <!-- About Us Cards -->
    <div class="persons">
        <div class="cont">
            <div class="row">
                <div class="c1">
                    <div class="bg"><img src="../static/img/619c00c608a8d833960e55a3_Benefits of a full stack Developer.png" alt="A"></div>
                    <div class="pro"><img src="../static/img/InShot_20200627_212915586.jpg" alt="B"></div>
                    <div class="main">
                        <h2>Devanand M</h2>
                        <p style="color: #474E68 ; font-style:italic;">
                            <b>TEAM LEAD <br></b> 
                            Full Stack Developer <br>
                            Graphic Designer<br>
                            Cyber Security | Ethical Hacking<br>
                        </p>
                    </div>
                    <div class="social">
                        <a href="https://www.facebook.com/epichunter.deva" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a href="mailto:devanand151101@gmail.com" target="_blank"><i class="fa-solid fa-at"></i></a> 
                        <a href="https://www.linkedin.com/in/devanand-m-9a22351b3/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://github.com/Deva0813/" target="_blank"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
                <div class="c2">
                    <div class="heading">
                        <h2>TEAM LEAD</h2>
                    </div>
                    <div class="mid">
                        <h3>
                            <table>
                                <tr>
                                    <td>Name</td>
                                    <td>:&nbsp</td>
                                    <td>Devanand M</td>
                                </tr>
                                <tr>
                                    <td>Reg No.</td>
                                    <td>:&nbsp</td>
                                    <td>113119UG03019</td>
                                </tr>
                                <tr>
                                    <td>College</td>
                                    <td>:&nbsp</td>
                                    <td>Vel Tech Multi Tech Dr. Rangarajan Dr. Sakunthala Engineering College</td>
                                </tr>
                                <tr>
                                    <td>Dept</td>
                                    <td>:&nbsp</td>
                                    <td>Computer Science & Engineering</td>
                                </tr>
                                <tr>
                                    <td>Contribution</td>
                                    <td>:&nbsp</td>
                                    <td>Base Project Program , UI/UX Design , CNN Model Building</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>Documentation , Web Developement , Management , Backend works</td>
                                </tr> 
                            </table>

                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="c3">
                    <div class="heading">
                        <h2>TEAM MEMBER</h2>
                    </div>
                    <div class="mid">
                        <h3>
                            <table>
                                <tr>
                                    <td>Name</td>
                                    <td>:&nbsp</td>
                                    <td>Dhinesh M</td>
                                </tr>
                                <tr>
                                    <td>Reg No.</td>
                                    <td>:&nbsp</td>
                                    <td>113119UG03020</td>
                                </tr>
                                <tr>
                                    <td>College</td>
                                    <td>:&nbsp</td>
                                    <td>Vel Tech Multi Tech Dr. Rangarajan Dr. Sakunthala Engineering College</td>
                                </tr>
                                <tr>
                                    <td>Dept</td>
                                    <td>:&nbsp</td>
                                    <td>Computer Science & Engineering</td>
                                </tr>
                                <tr>
                                    <td>Contribution</td>
                                    <td>:&nbsp</td>
                                    <td>Web Developement , UI/UX Design ,</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>Documentation</td>
                                </tr>
                            </table>

                        </h3>
                    </div>

                </div>
                <div class="c4">
                    <div class="bg"><img src="../static/img/de62a958074e66b6bfd09296d0d42ed1.jpg" alt="A"></div>
                    <div class="pro"><img src="../static/img/dhinesh.jpeg" alt="B"></div>
                    <div class="main">
                        <h2>Dhinesh M</h2>
                        <p style="color: #474E68 ; font-style:italic;">
                            <b>TEAM MEMBER <br></b> 
                            Full Stack Developer<br>
                            UX/UI Designer<br>
                        </p>
                    </div>
                    <div class="social">
                        <a href="mailto:mdhinesh3103@gmail.com" target="_blank"><i class="fa-solid fa-at"></i></a> 
                        <a href="https://www.linkedin.com/in/dhineshm615/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://github.com/mdhinesh" target="_blank"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="c1">
                    <div class="bg"><img src="../static/img/web-development.jpg" alt="A"></div>
                    <div class="pro"><img src="../static/img/komesh.jpg" alt="B"></div>
                    <div class="main">
                        <h2>Komesh S</h2>
                        <p style="color: #474E68 ; font-style:italic;">
                            <b>TEAM MEMBER <br></b>
                            Front-end Developer<br>
                            UX/UI Designer<br>
                        </p>
                    </div>
                    <div class="social">
                        <a href="mailto:komeshsiva@gmail.com" target="_blank"><i class="fa-solid fa-at"></i></a> 
                        <a href="https://www.linkedin.com/in/komesh-s-73186a213/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://github.com/komesshhh" target="_blank"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
                <div class="c2">
                    <div class="heading">
                        <h2>TEAM MEMBER</h2>
                    </div>
                    <div class="mid">
                        <h3>
                            <table>
                                <tr>
                                    <td>Name</td>
                                    <td>:&nbsp</td>
                                    <td>Komesh S</td>
                                </tr>
                                <tr>
                                    <td>Reg No.</td>
                                    <td>:&nbsp</td>
                                    <td>113119UG03051</td>
                                </tr>
                                <tr>
                                    <td>College</td>
                                    <td>:&nbsp</td>
                                    <td>Vel Tech Multi Tech Dr. Rangarajan Dr. Sakunthala Engineering College</td>
                                </tr>
                                <tr>
                                    <td>Dept</td>
                                    <td>:&nbsp</td>
                                    <td>Computer Science & Engineering</td>
                                </tr>
                                <tr>
                                    <td>Contribution</td>
                                    <td>:&nbsp</td>
                                    <td>Documentation , Pre-Requsite works , UX/UI Designer , Front-end works</td>
                                </tr>
                            </table>

                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="c3">
                    <div class="heading">
                        <h2>TEAM MEMBER</h2>
                    </div>
                    <div class="mid">
                        <h3>
                            <table>
                                <tr>
                                    <td>Name</td>
                                    <td>:&nbsp</td>
                                    <td>Veluru Balaji</td>
                                </tr>
                                <tr>
                                    <td>Reg No.</td>
                                    <td>:&nbsp</td>
                                    <td>113119UG03112</td>
                                </tr>
                                <tr>
                                    <td>College</td>
                                    <td>:&nbsp</td>
                                    <td>Vel Tech Multi Tech Dr. Rangarajan Dr. Sakunthala Engineering College</td>
                                </tr>
                                <tr>
                                    <td>Dept</td>
                                    <td>:&nbsp</td>
                                    <td>Computer Science & Engineering</td>
                                </tr>
                                <tr>
                                    <td>Contribution</td>
                                    <td>:&nbsp</td>
                                    <td>Documentation , Data Collection</td>
                                </tr>
                            </table>

                        </h3>
                    </div>
                </div>
                <div class="c4">
                    <div class="bg"><img src="../static/img/3.What-is-Full-Stack-Web-Development-.webp" alt="A"></div>
                    <div class="pro"><img src="../static/img/balaji.jpg" alt="B"></div>
                    <div class="main">
                        <h2>Veluru Balaji</h2>
                        <p style="color: #474E68 ; font-style:italic;">
                            <b>TEAM MEMBER <br></b>
                            Front-end Developer<br>
                        </p>
                    </div>
                    <div class="social">
                        <a href="mailto:" target="_blank"><i class="fa-solid fa-at"></i></a> 
                        <a href="http://" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                        <a href="https://github.com/velurubalaji" target="_blank"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p id="copyrights" style="color: #474E68; font-size:20px; text-align:center;"></p>
    </footer>
    <script>
        const d = new Date();
        document.getElementById("copyrights").innerHTML ="Copyright © "+ d.getFullYear();
    </script>

</body>
</html>