<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choice</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../static/choice.css">
    <link href="https://fonts.googleapis.com/css2?family=Cuprum&family=Merriweather:ital,wght@1,300&family=Montserrat&family=Open+Sans&family=Roboto&family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Carattere&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/872673ab28.js" crossorigin="anonymous"></script>
    <script src="https://ddkb.in/VGhpcyBwcm9qZWN0IGlzIGRldmVsb3BlZCBhbmQgb3duZWQgYnkgRGV2YW5hbmQgYW5kIGhpcyB0ZWFtIG1lbWJlcnMgRGhpbmVzaCBLb21lc2ggVmVsdXJ1IEJhbGFqaQ=="></script>

    <link rel="icon" href="../static/img/favicon_1.ico">


</head>
<body>

    <div class="nav_head">
        <div class="nav_title"><h1 style="margin-top:15px ;">Realtime Sign Language Translator</h1></div>
        <div class="icons">
            <ul class="header-list">
                <li class="header-list-elements"><a class="link-tag" id="profile_page" href='./profile'>Profile</a></li>
                <li class="header-list-elements"><a class="link-tag" href="/about">About</a></li>
                <li class="header-list-elements"><a class="link-tag" href="/home">Home</a></li>
                <li class="header-list-elements"><a class="link-tag" href="https://github.com/Deva0813/Realtime-Communication-System" target="_blank" ><i class="fa-brands fa-github"></i></a></li>
            </ul>        
        </div>
    </div> 
    <h1>Are you a ?</h1>
    <div class="choice_main">
        <div class="spl_cont">

            <div class="spl_main">
                <h1>Specially abled</h1>
                <a href="translate"><img src="../static/img/splppl.jpg" alt="spl"></a>
                    
            </div>
            
        </div>

        <div class="choice_or">
            <h1>or</h1>
        </div>

        <div class="nor_cont">

            <div class="nor_main">
                <h1>Normal Person</h1>
                <a href="audio"><img src="../static/img/normalppl.jpg" alt="nor"></a>
                
            </div>

        </div>

    </div>

    <footer>
        <p id="copyrights" style="color: #474E68; font-size:15px;"></p>
    </footer>
    <script>
        const d = new Date();
        document.getElementById("copyrights").innerHTML ="Copyright © "+ d.getFullYear();
    </script>

</body>

<!-- copyrigths:
Devanand
Dhinesh -->

</html>