<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/872673ab28.js" crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://ddkb.in/VGhpcyBwcm9qZWN0IGlzIGRldmVsb3BlZCBhbmQgb3duZWQgYnkgRGV2YW5hbmQgYW5kIGhpcyB0ZWFtIG1lbWJlcnMgRGhpbmVzaCBLb21lc2ggVmVsdXJ1IEJhbGFqaQ=="></script>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="shortcut icon" href="../static/img/favicon_1.ico" type="image/x-icon">
    
    <title>Realtime Communication System</title>
</head>
<body class="body_trans">

        <div class="nav_head">
            <div class="nav_title"><h1 style="font-weight: 600; margin-top: 22px;" >Realtime Sign Language Translator</h1></div>
            <div class="icons">
                <ul class="header-list">
                    <li class="header-list-elements"><a class="link-tag" id="profile_page" href='profile'>Profile</a></li>
                    <li class="header-list-elements"><a class="link-tag" href="/about">About</a></li>
                    <li class="header-list-elements"><a class="link-tag" href="/home">Home</a></li>
                    <li class="header-list-elements"><a class="link-tag" href="https://github.com/Deva0813/Realtime-Communication-System" target="_blank"><i class="fa-brands fa-github"></i></a></li>
                </ul>        
            </div>
        </div>
        
        <div class="home_page">

            <div class="main_page">
                <div class="main_btn">
                    <div class="main_btn_head">
                        <h2 style="font-size: 2.5vw; font-weight: 600; margin:40px 0px; " >
                            Realtime communication system<br>
                            powered by A.I. for specially abled<br>
                            
                        </h2>
                    </div>
                    <div class="main_btn_msg">
                        <p style="margin:0px;" >
                            A sign language is a way of communicating by using the hands and other parts of the body.
                            It should not be confused with body language.Sign languages are an important way for deaf people to communicate.
                        </p>
                    </div>
                    <div class="main_btn_foot">
                        <a href="choice" onclick="server.on_rec()">START TRANSLATE</a>
                    </div>
                </div>
                <div class="main_img">
                    <img style="width:80%;" src="../static/img//sign_lang_1.png" alt="sign lang">
                </div>
            </div>
            <!-- Main_Page -->
            <div class="main_content">

                <div class="sign_cont">
                    <div class="sign_txt">
                        <h1>What is sign language?</h1>
                    <p>
                        Sign language is manual communication commonly used by people who are deaf. 
                        Sign language is not universal; people who are deaf from different countries speak different sign languages. 
                        The gestures or symbols in sign language are organized in a linguistic way. 
                        Each individual gesture is called a sign. <br> 
                        Each sign has three distinct parts: the handshape, the position of the hands, and the movement of the hands. 
                        American Sign Language (ASL) is the most commonly used sign language in the United States.
                    </p>
                    </div>
                    <div class="sign_cont_img">
                        <img src="../static/img/ppl.jpg" width="680px" height="450px" alt="ppl">
                    </div>    
                </div> 
                
                <div class="problem_cont">

                    <img src="../static/img/deaf.jpg" alt="">

                    <div class="problem_txt">
                        <h1>
                            How do we solve the problem?
                        </h1>
                        <p>
                            A translator is usually needed when an ordinary person wants to communicate with a deaf one. 
                            But with our tool we eliminate the need of dependency. We introduce our effiecient sign language detection tool which translates in milliseconds. 
                            For prototype our tool can detect any alphabets. 
                            We look forward to develop our product in future. Be sure to check it out.
                        </p>    
                    </div>

                </div>

                <div class="pro_cont">
                    <div class="pro_txt">
                        <h1>Project Description</h1>
                        <p>
                            In our society, we have people with disabilities. The technology is developing day by day but no significant developments are undertaken for the betterment of these people. 
                            Communications between deaf-mute and a normal person has always been a challenging task. It is very difficult for mute people to convey their message to normal people. 
                            Since normal people are not trained on hand sign language.
                            In emergency times conveying their message is very difficult. The human hand has remained a popular choice to convey information in situations where other forms like speech cannot be used. 
                            Voice Conversion System with Hand Gesture Recognition and translation will be very useful to have a proper conversation between a normal person and an impaired person in any language. <br> <br>
                            The project aims to develop a system that converts the sign language into a human hearing voice in the desired language to convey a message to normal people, as well as convert speech into understandable sign language for the deaf and dumb. 
                            We are making use of a convolution neural network to create a model that is trained on different hand gestures. An app is built which uses this model. This app enables deaf and dumb people to convey their information 
                            using signs which get converted to human-understandable language and speech is given as output.
                        </p>
                    </div>
                    <div class="pro_img">
                        <img src="../static/img/modelCNN.png" alt="cnn" >
                    </div>
                    
                </div>

                <div class="slide_cont">
                    <div class="slide_head">
                        <h1 style="font-size: 5vw; font-weight: 600; margin:50px 0px;"  >Output Preview</h1>
                        </div>
                    <img src="../static/img/output.png" alt="out">

                </div>

                <div class="tech_cont">

                    <div class="tech_txt">
                        <h1 style="font-size: 5vw; font-weight: 600; margin:50px 0px" >Technology Stack</h1>
                    </div>

                    <div class="tech_double_con">

                        <div class="slide_main_tech">
                                <div class="carousel slide " id="banner" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active" data-bs-interval="5000">
                                            <img src="../static/img/front-end-gif.gif" class="w-100 d-block h-25">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="5000"> 
                                            <img src="../static/img/back-end-gif.gif" class="w-100 h-25 d-block">
                                        </div>
                                        <div class="carousel-item" data-bs-interval="5000">
                                            <img src="../static/img/Ml.gif" class="w-100 d-block">
                                        </div>
                                    </div>
                                    <div>
                                        <button data-bs-target="#banner" data-bs-slide="prev" class="carousel-control-prev ">
                                            <span class="carousel-control-prev-icon"></span>
                                        </button>
                                        <button data-bs-target="#banner" data-bs-slide="next" class="carousel-control-next ">
                                            <span class="carousel-control-next-icon"></span>
                                        </button>
                                        <div class="carousel-indicators">
                                            <button class="active" data-bs-slide-to="0" data-bs-target="#banner"></button>
                                            <button data-bs-slide-to="1" data-bs-target="#banner"></button>
                                            <button data-bs-slide-to="2" data-bs-target="#banner"></button>
                                    </div>
                                    
                                </div>
                
                            </div>

                    </div>
                    

                    <div class="tech_img">
                        <br>
                        <br>
                        <br>
                        <img src="../static/img/html_icon.png" alt="HTML">
                        <img src="../static/img/css_icon.png" alt="CSS">
                        <img src="../static/img/javascript_logo.png" alt="JAVASCRIPT">
                        <img src="../static/img/python_icon.png" style="padding:24px;" alt="PYTHON">
                        <img src="../static/img/flask-logo.png" style="padding: 14px 10px;" alt="FLASK">
                        <img src="../static/img/tensorflow_logo.png" style="padding:24px;" alt="TENSORFLOW">
                        <img src="../static/img/OpenCV_logo.png" style="padding:24px;" alt="OPENCV">
                        <img src="../static/img/mediapipe.png" alt="MEDIAPIPE">
                    </div>

                </div>
                

            </div>

            

        </div>
        

        <footer>
            <p id="copyrights" style="color: #474E68; font-size:15px; text-align:center; margin-top:20px;"></p>
        </footer>
        <script>
            const d = new Date();
            document.getElementById("copyrights").innerHTML ="Copyright © "+ d.getFullYear();
        </script>
        
        <!-- copyrigths:
        Devanand
        Dhinesh -->
        
</body>
</html>