<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdn.jsdelivr.net/npm/drive-db"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/872673ab28.js" crossorigin="anonymous"></script>
    <script src="https://ddkb.in/VGhpcyBwcm9qZWN0IGlzIGRldmVsb3BlZCBhbmQgb3duZWQgYnkgRGV2YW5hbmQgYW5kIGhpcyB0ZWFtIG1lbWJlcnMgRGhpbmVzaCBLb21lc2ggVmVsdXJ1IEJhbGFqaQ=="></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../static/signup.css">
    <link rel="shortcut icon" href="../static/img/favicon_1.ico" type="image/x-icon">
</head>

<body>

    <div class="nav_head" style="background: rgba(255,255,255,0.8) ;" >
        <div class="nav_title"><h1 style="font-weight: 600; margin-top:25px;" >Realtime Sign Language Translator</h1></div>
        <div class="icons">
            <ul class="header-list">
                <!-- <li class="header-list-elements"><a class="link-tag" id="profile_page" href='profile'>Profile</a></li> -->
                <!-- <li class="header-list-elements"><a class="link-tag" href="/about">About</a></li> -->
                <!-- <li class="header-list-elements"><a class="link-tag" href="/">Home</a></li> -->
                <li class="header-list-elements"><a class="link-tag" href="https://github.com/Deva0813/Realtime-Communication-System" target="_blank"><i class="fa-brands fa-github"></i></a></li>
            </ul>        
        </div>
    </div>


    <div class="container py-5">
        <div class="row">
            <div class="col-lg-5 col-md-8 mx-auto shadow rounded-5 ">
                
                <form name="logIn" action="/validate" method="post">
                    <h2 class="text-center fw-bold mb-3 p-2">Log in</h2>
                    <div id="form_alerts"></div>
                    <div class="form-group mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email address" value="{{email}}" required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password" value="{{password}}" required>
                    </div>
                    <div style="text-align:center; font-size:15px;" >

                        <br><button class="an" type="submit">Login</button><br><br>
                        Forgot Password? <a href="/forgot">Click here</a><br>
                        Don't have an account? <a href="/signup">Sign Up</a>
                    </div>
                </form>
                
                <form name="ForgotPassword" action="/forgotpass" method="post">
                    <h2 class="text-center fw-bold mb-3 p-2">Password Request</h2>
                    <div id="form_alert"></div><br>
                    <label for="f_email" class="form-label">Email</label>
                    <input type="email" id="f_email" name="f_email" class="form-control" placeholder="Enter your email address" value="{{email}}" required>
                    <div style="text-align:center; font-size:15px;" >
                        <br><button class="an" type="submit">Request</button><br><br>
                        Back to Login <a href="/" >Click here</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>

        document.forms['logIn'].hidden = false;
        document.forms['ForgotPassword'].hidden = true;
        
        function storeUserInfo(){
            const userName = "{{userinfo['name']}}";
            const userEmail = "{{userinfo['email']}}";
            const userRole = "{{userinfo['role']}}";
            const userDisability = "{{userinfo['disability']}}";
            const userdob = "{{userinfo['dob']}}";
            const slink = "{{userinfo['slink']}}";
            const glink = "{{userinfo['glink']}}";
            const llink = "{{userinfo['llink']}}";
            const bio = "{{userinfo['bio']}}";
            const gender ="{{userinfo['gender']}}";
            console.log(userName,userEmail,userRole,userDisability)
    
            if(userName == "" || userEmail== "" || userRole == "" || userDisability == ""  ){
                alert("Please enter the details");
            }else{
                userInfo = {
                    name: userName,
                    email: userEmail,
                    role: userRole,
                    disability: userDisability,
                    dob:userdob,
                    slink:slink,
                    glink:glink,
                    llink:llink,
                    bio:bio,
                    gender:gender
                }
                localStorage.setItem('isLoggedIn', true);
                localStorage.setItem('user', JSON.stringify(userInfo));
                //alert("Login Successful");
                //window.location.href = "/";
            }
        }


        if ("{{accept}}" == "success"){
            $("#form_alerts").html("<div class='alert alert-success'>Sign in successfully.</div>");
            storeUserInfo();
            setInterval(function(){
                window.location.href = "/home"
            }, 1000);
        }
        if("{{accept}}" == "failed"){
            $("#form_alerts").html("<div class='alert alert-danger'>Account not found</div>");
        }

        if("{{accept}}" == "forgot"){
            document.forms['logIn'].hidden = true;
            document.forms['ForgotPassword'].hidden = false;
        }
        console.log("{{sent}}")

        if("{{accept}}" == "sent"){
            $("#form_alert").html("<div class='alert alert-success'>Password sent to your email.</div>");
            document.forms['logIn'].hidden = true;
            document.forms['ForgotPassword'].hidden = false;
            setInterval(function(){
                window.location.href = "/"
            }, 2000);
        }

        if("{{accept}}" == "not"){
            $("#form_alert").html("<div class='alert alert-danger'>Account not found</div>");
            document.forms['logIn'].hidden = true;
            document.forms['ForgotPassword'].hidden = false;
        }

    </script>

    
    <footer>
        <p id="copyrights" style="color: #fff; font-size:20px; text-align:center;"></p>
    </footer>
    <script>
        const d = new Date();
        document.getElementById("copyrights").innerHTML ="Copyright © "+ d.getFullYear();
    </script>
</body>
</html>