body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    /* background-color: #2A2550; */
    background-image: url("./img/body_bg.png");
    letter-spacing: 1px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    /* color: #66BFBF; */
    color: #474E68;
    line-height: 2;
    font-size: 60px;
    text-align: center;
    margin-bottom: 13px;
    margin-top: 20px;
}


img{
    border-radius: 30px;
}

.main{
    padding-top: 20px;
    padding-bottom: 0px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}


.cont{
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    /* background-color: #2A2550; */
    background: rgba(255,255,255,0.7);
    backdrop-filter: saturate(180%) blur(10px);
    width: 1500px;
    height: 800px;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;  
}

.output_1{
    flex: 1;
    padding: 78px;
    padding-top: 0px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0px;
}
.output_2{
    flex: 1;
    flex-direction: column;
    padding: 76px;
    padding-left: 30px;
    padding-top: 0px;
    display: flex;
    justify-content: center;
    padding-bottom: 0px;
}

.video_stream{
    width: 640;
    height: 480;
    /* border: 5px solid black; */
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.P_txt{
    width: 640;
    height: 480;
    /* border: 5px solid black; */
    text-align: center;
    /* background: #fff; */
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    background: rgba(34, 25, 102, 0.9);
    backdrop-filter: saturate(180%) blur(10px);
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt{
    font-size: 100px;
    margin-top: 0px;    
    color: #66BFBF; 
    line-height: 1.2;
    padding: 0 20px;
}


.cent{
    flex: 1;
}

.cont p{
    color: #474E68;
    font-size: 20px;
    text-align: center;
    padding: 30px;  
    padding-bottom: 0px;
    padding-top: 10px;
}

footer p{
    text-align: center;
}

.an{
    position:relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 10px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg,#0162c8,#55e7fc);
    text-align: center;
}

.btn{
    padding-bottom: 20px;
}
